name: Build Pack
on:
  workflow_dispatch:
  
jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Install frontend dependencies
        run: pnpm i       

      - name: Download models
        run: mkdir -p models && cd models && curl -LO https://github.com/k2-fsa/sherpa-onnx/releases/download/tts-models/vits-zh-aishell3.tar.bz2 && tar xvf vits-zh-aishell3.tar.bz2

      - name: Build
        run: pnpm run build 

      - name: zip
        shell: bash
        run: |
          cd dist
          if [ "${{ matrix.platform }}" == "windows-latest" ]; then
            7z a ./release-win.zip *.exe
          else
            zip ./release-mac.zip *.dmg
          fi
          ls -l
        
      - name: Upload Artifacts
        shell: bash
        run: |
          node upload.js
